@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --chart-1: 347 77% 50%;
    --chart-2: 349 77% 62%;
    --chart-3: 350 80% 72%;
    --chart-4: 351 83% 82%;
    --chart-5: 352 83% 91%;
    --color-time: 347 77% 50%;
  }
}

img,
svg,
iframe {
  content-visibility: auto;
}

* {
  scrollbar-width: 0;
}
